body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background-image {
    background-image: url('/static/images/xc.jpg'); /* Замініть your-image.jpg на шлях до вашого зображення */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animated-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.7);
}