<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style_4.css">

    <title>WELCOME!</title>
</head>
<body>
    <video class="background-video" autoplay loop muted>
        <source src="/static/images/xx.mp4" type="video/mp4">
        Ваш браузер не підтримує відео.
    </video>
    <nav>
        <ul>
          <li>
            <a href="{{ url_for('restaurant') }}">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fas fa-utensils"></span>
            </a>
          </li>
          <li>
            <a href="/login">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fas fa-sign-in-alt"></span>
            </a>
          </li>
          <li>
            <a href="/profile">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fas fa-user"></span>
            </a>
          </li>
        </ul>
      </nav>
</body>
</html>