<!-- templates/restaurants.html -->
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список Ресторанів</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .restaurant-item {
            background-color: #ffffff;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 15px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <!-- Навігаційна панель -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('restaurant') }}">RESTS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('restaurant') }}">Ресторани</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <h1 class="text-center">Список Ресторанів</h1>

            {% if restaurants %}
                <ul class="list-unstyled">
                {% for restaurant in restaurants %}
                    <li class="restaurant-item">
                    <h4>{{ restaurant.name }}</h4>
                    {% if restaurant.photo_data %}
                        <img class="painting-image" src="data:image/jpeg;base64,{{ restaurant.photo_data }}" alt="{{ restaurant.name }}" style="max-height: 200px; object-fit: cover;">
                    {% endif %}
                <p>{{ restaurant.description }}</p>
                <p><strong>Адреса:</strong> {{ restaurant.location }}</p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Немає ресторанів для відображення.</p>
{% endif %}
        </ul>
    </div>
</body>
</html>
